{% extends "layouts/base.njk" %}
{% set title = "Home - TastyBite" %}
{% block content %}
<div class="text-center">
  <h1>Welcome to TastyBite</h1>
  <p class="lead">Delicious recipes and bites made for you</p>
</div>
<div class="row mt-5">
  <div class="col-md-4">
    <div class="card">
      <img src="https://source.unsplash.com/400x300/?food" class="card-img-top" alt="Food">
      <div class="card-body">
        <h5 class="card-title">Recipe 1</h5>
        <p class="card-text">Tasty and easy recipe.</p>
      </div>
    </div>
  </div>
  <!-- Repeat for more cards -->
</div>
{% endblock %}
